html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0B3355; 
    color: #fff; 
}

.main-article-container h2{
    margin-bottom: 20px;
}
.main-article h1{
    text-align: center;
    margin-bottom: 20px;
}
.article-content {
    margin-top: 40px;
    text-align: justify;
}
.content-wrap {
    flex: 1;
    overflow-y: auto;
}

.blog-container {
    display: flex;
    align-items: center; 
    margin: 40px auto; 
    max-width: 1400px; 
}

p {
    font-size: 16px; 
   
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.main-article-container {
    width: 70%;
    margin: 0 20px; 
}

.main-article {
    padding: 40px; 
}

img {
  width: 100%; 
  height: 600px; 
  object-fit: cover; 
}
 h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.share-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px;
    padding: 10px 0;
}

.share-buttons a {
    color: #fff; 
    
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
    .share-buttons {
        flex-direction: column;
        align-items: center;
    }

    .share-buttons a {
        width: 80%; 
        margin-bottom: 10px; 
    }
}


.back-to-default {
    margin-top: 80px;
    margin-bottom: 20px;
    position: fixed; 
    top: 0;         
    left: 0;          
}
.back-to-default a{
    padding-left: 15px;
}
.back-to-default a:hover {
    color: #B89769;
}
.side-panel {
    width: 27%;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 60px;
    border-radius: 5px;
    z-index: 1000;
}

.side-article {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px; 
    padding: 10px; 
    border-radius: 8px; 
    background-color: hsl(0, 0%, 0%, 0.5);
    transition: background-color 0.3s ease;
}

.main-article, .side-article h2, .side-article p {
    line-height: 1.4;
}

.side-article h2, .side-article p {
    background-color: transparent;
}

.side-article:hover {
    background-color: #102D45; 
}

.side-article h2 { 
    font-size: 20px;  
    margin-bottom: 10px;
}

.side-article p {
    font-size: 16px; 
    color: #B89769;
    margin-bottom: 0px; 
    padding: 10px;
}


.share-icon {
    text-align: center;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .blog-container {
        flex-direction: column;
        align-items: center;
        margin: 10px auto; 
        margin-top: 70px;
    }

    .main-article-container, .side-panel {
        width: 100%;
        padding: 0 10px; 
        position: relative;
    }

    .main-article, .side-panel {
        padding: 20px 5px;
    }
    .share-icon{
        display: none;
    }
    img {
        width: 100%; 
        max-width: 400px; 
        display: block; 
        height: 300px; 
    }
}

.island-expedition {
    text-align: center;
    margin-top: 40px;
}
.island-expedition p{
    text-align: justify;
    background-color: transparent;
 } 
 .island-expedition h3{
    text-align: justify;
    color: var(--LOGO-COLOR);
    background-color: transparent;
 }
 .island-expedition a{
    color: #f1f1f1;
    background-color: transparent;
    padding: 10px;
    background-color: #B89769;
 }
.ship-fleet {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}
.ship-fleet figure {
    margin: 20px;
    max-width: 40%;
}
.ship-fleet img {
    max-width: 100%; 
    height: auto;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    
}

.island-expedition figcaption:hover, a:hover {
   transform: translateY(-5px);
    transition: transform 0.5s ease;
}
.ship-fleet figcaption {
    text-align: justify;    
}

@media screen and (max-width: 768px) { 
    .ship-fleet figure {
        max-width: 90%; 
    } 
} 
 
  

.page-container .footer {
    margin-top: auto;
    padding: 20px;
    color: white;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}





